.flightSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-color: #99739f;
  width: 90%;
}

.flightTitle {
  background-color: #1e213d;
  color: white;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  color: #fab0dc;
  font-size: 1.2rem;
}

.flightList {
  padding: 0;
  width: 100%;
  position: relative;
}
