.formSubmit {
  background-color: #1e213d;
  padding: 15px;
  color: white;
  border: 0;
  align-self: flex-end;
  margin-bottom: 13px;
  cursor: pointer;
}

.formSubmit:hover {
  transition: 1s;
  background-color: #433b5e;
}
