*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    #433b5e,
    #57496e,
    #6c567f,
    #82658f,
    #99739f
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
